
.container-portifolio-main{
 
  width: 75%;
  height: 110%;
  margin-right: auto;
  margin-left: 20%;

}
.container-portifolio-cards{
 display: flex;
 flex-wrap: wrap;
}
.container-portifolio--card{
 
  width: 45%;
  height: 550px;
  padding: 10px;
  margin: 10px auto 10px auto;
  background-color: rgba(0,0,0,0.500);
  border-radius: 20px;
}
.portifolio-button{
  background-color: var(--color-sec-light);
  width: 200px;
  bottom: 0;
  text-align: center;
  padding: 17px 35px;
  font-size: 16px;
  margin-top: 15px;
  margin-right: 10px;
  border-radius: 50px;

  transition: 0.1s ease;
}

.portifolio-button:hover{
  background-color: transparent;
  border: 2px solid var(--color-sec-light);
}
.portifolio-img{
  width: 40%;
  border-radius: 50%;
  margin-left: 30%;
  margin-right: auto;
  border: 3px solid var(--color-sec-light)
  
}
.title{
  font-family: "Open Sans Condensed";
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.text{
  font-family: "Open Sans Condensed";
  margin-top: 10px;
}
.container-portifolio-titulo{
  font-size: 3rem;
  padding-botton: 40px;
}

@media (max-width: 820px){
  .container_portifolio-titulo{
    transform: rotate(0deg);
    font-size: 3rem;
    top: -20px;
    padding-botton: 40px;
  }

  .container-portifolio-main{
 
    margin-left: auto;
  
  }
  .container_portifolio{
    width: 100%;
  }
}

@media (max-width: 600px){
  
  .container-portifolio--card{
    width: 100%;
  }
  
  .portifolio_container{
    width: 100%;
  }
  .container-portifolio-main{
    height: 100%;
  }
}